.photo-grid {
  max-width: 1184px;
  min-height: 671px;
  margin: 92px auto;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px);
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 284px);
    grid-template-rows: repeat(4, 213px);
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 284px);
    grid-template-rows: repeat(6, 213px);
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: 284px;
    grid-template-rows: repeat(12, 213px);
    justify-content: center;
  }
}