.places {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 1120px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 900px) {
  .places {
    max-width: calc(100% - 24px);
    gap: 72px;
  }
}

@media screen and (max-width: 630px) {
  .places {
    max-width: 100%;
    gap: 50px;
  }
}
