.lead {
  max-width: 984px;
}

@media screen and (max-width: 1120px) {
  .lead {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 900px) {
  .lead {
    max-width: 100%;
    margin: 0 0 88px;
  }
}
