.header {
    max-width: calc(100% - 96px);
    margin: 0 48px 56px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .header {
      max-width: calc(100% - 96px);
      margin: 0 48px 48px;
    }
  }

@media screen and (max-width: 768px) {
    .header {
      max-width: calc(100% - 48px);
      margin: 0 24px 48px;
    }
  }

  @media screen and (max-width: 320px) {
    .header {
      max-width: calc(100% - 32px);
      margin: 0 16px 48px;
    }
  }