.header {
    width: calc(100% - 96px);
    margin: 0 48px 56px;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1120px) {
    .header {
      width: calc(100% - 96px);
      margin: 0 48px 48px;
    }
  }

@media screen and (max-width: 900px) {
    .header {
      width: calc(100% - 48px);
      margin: 0 24px 48px;
    }
  }

  @media screen and (max-width: 600px) {
    .header {
      width: calc(100% - 32px);
      margin: 0 16px 48px;
    }
  }