.intro {
  max-width: 690px;
}

@media screen and (max-width: 900px) {
  .intro {
    max-width: 720px;
 }
}

@media screen and (max-width: 600px) {
  .intro {
    max-width: calc(100% - 32px);
    margin: 0 16px 64px 16px;
  }
}