.intro {
  margin: 92px auto 148px;
  max-width: calc(100% - 296px);
  height: 429px;
}

@media screen and (max-width: 1024px) {
    .intro {
      max-width: calc(100% - 96px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .lead {
      max-width: calc(100% - 48px);
      margin: 88px auto 88px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .lead {
      max-width: 100%;
      margin: 0 auto;
    }
  }