.cover {
  width: calc(100% - 96px);
  margin: 0 48px 92px;
  display: flex;
}

@media screen and (max-width: 1120px) {
  .cover {
    width: 100%;
    margin: 0 0 92px;
  }
}

@media screen and (max-width: 900px) {
  .cover {
    margin: 0 0 88px;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    margin: 0 0 64px;
  }
}