.cover__title {
  color: white;
  margin: 245px auto 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  width: 560px;
  height: 152px;
}

@media screen and (max-width: 600px) {
  .cover__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin: 33px auto 16px;
    width: 288px;
    height: 70px;
  }
}