.cover__background {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 740px;
  text-decoration: none;
  background-image: url('../../../images/cover-trains.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.cover__background::before {
  content: '';
  background-color: #2A2C2F;
  opacity: .3;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  transition: 1s ease;
}

.cover__background:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1120px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 900px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 600px) {
  .cover__background {
    min-height: 200px;
  }
}
