.place {
  width: 100%;
  display: grid;
  grid-row: auto 1fr;
  grid-template-columns: auto 1fr;
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1120px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 900px) {
  .place {
    column-gap: 28px;
  }
}

@media screen and (max-width: 630px) {
  .place {
    row-gap: 32px;
    grid-template-rows: repeat( minmax(min-content max-content));
    grid-template-columns: 1fr;
}
  }


  
