.place {
  width: 100%;
  display: grid;
  grid-row: auto 1fr;
  grid-template-columns: auto 1fr;
  gap: 40px;
  overflow: hidden;
}

@media screen and (max-width: 1120px) {
  .place {
    gap: 32px;
  }
}

@media screen and (max-width: 900px) {
  .place {
    gap: 28px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    gap: 32px;
    grid-template-rows: repeat( minmax(min-content max-content));
    grid-template-columns: 1fr;
}
  }
