.footer {
  margin: 0 48px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 900px) {
  .footer {
    margin: 0 24px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    margin-left: 16px;
    max-width: 186px;
    flex-direction: column;
  }
}