.place__url-heading {
  color: #AAAAAA;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 12px;
}