.intro__title {
  color: white;
  margin: 0px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 500px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}